.section {
  width: 100%;
}

.movie_heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.container {
  margin: 0 auto;
  padding: 6rem 3rem;
}

.two_section_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.button {
  padding: 0.7rem 1rem;
  border: none;
  color: #fff;
  background-color: #E50914;
  cursor: pointer;
  transition: all 0.5sec;
}

.button:hover {
  background-color: #b01507;
}

.movie_section h1 {
  text-align: center;
  margin-bottom: 3.2rem;
}

.movie_title {
  margin: 3.2rem 0 3.2rem 0;
}

.movie_title span {
  color: #E50914;
  text-transform: capitalize;
}

.card_section {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single_card_section {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.movie_card {
  max-width: 12rem;
  height: 20rem;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.movie_card_image img {
  width: 12rem;
  height: 16em;
  object-fit:cover;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}

.movie_card_data {
  padding: 0.6rem;
}

.movie_card_data h2 {
  font-size: 1rem;
  color: #fff;
}

.movie_card_data p {
  margin: 0.7rem 0 2rem 0;
  line-height: 1.2;
  font-size: 0.7rem;
  color: #fff;
}

.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination_container a {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #E50914;
  border-radius: 4px;
}

.pagination_container a:hover {
  background-color: #f5f5f5;
}

.pagination_container a.active {
  background-color: #007bff;
  color: #fff;
}


.single_card_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie_details {
  padding-left: 1rem;
  width: 50%;
}

.movie_image {
  max-width: 600px;
  max-height: 100%;
}

.genres_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.genres_container span {
  background-color: #E50914;
  color: #ffffff;
  padding: 0.3rem 0.7rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.similar_movies_container {
  margin-top: 5rem;
}

.similar_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.similar_movies div {
  width: 10rem;
  height: 15rem;
  margin: 1rem;
}

.similar_movies h2 {
  margin-top: 1rem;
}

.similar_movies div h5{
  max-width: 90%;
  color: #fff;
}


.page_not_found_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  color: #fff;
}

.icon {
  font-size: 64px;
  margin-bottom: 20px;
  color: #E50914;
}

.page_not_found_message {
  font-size: 2.5rem;
  margin-bottom: 20px;
}



.loader_section {
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
}
.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loader div {
    position: absolute;
    border: 4px solid #E50914;
    opacity: 1;
    border-radius: 50%;
    animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .loader div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes loader {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  


@media screen and (max-width: 768px) {
  .two_section_grid {
    grid-template-columns: 1fr;
  }

  .card_section {
    justify-content: center;
  }
  .single_card_section {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .movie_details {
    width: 100%;
  }

  .genres_container span {
    padding: 0.2rem 0.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.4rem;
  }
  
}
